body {
	
}

a:link{color:#333;}
a:visited{color:#333;}
a:hover{color:red;}
a:active{color:#000;}

#wrapper {
	width: 965px;
	margin: 0 auto;
}

#appHeader {
	width:920px;
	padding: 20px;
	min-height:100px;
	background:#ebf4fb;
	border:solid 2px #b7ddf2;
}

#interact {
	margin-top: 10px;
}

#meal {
	
	background:#ebf4fb;
	border:solid 2px #b7ddf2;
	margin:10px auto;
	padding: 10px;
	position: relative;
}

.quickAdd {
	
	margin-left: 430px;
}

.consume {
	clear: both;
	display: block;
	width:70px;
	height: 60px;
	background:#3B7B9D;
	text-align: center;
	padding: 10px;
	position: relative;
	float: right;
	bottom:440px;
	right: 50px;
	color: #fff;
}
.left {
	clear: both;
	display: block;
	width:70px;
	height: 60px;
	background:#3B7B9D;
	text-align: center;
	padding: 10px;
	position: relative;
	float: right;
	right: 50px;
	bottom:410px;
	color: #fff;

}

.over {
	clear: both;
	display: block;
	width:70px;
	height: 60px;
	background:#3B7B9D;
	text-align: center;
	padding: 10px;
	position: relative;
	float: right;
	right: 50px;
	color: #fff;
	bottom:110px;

}

.edit {
	display: block;
	width: 400px;
	height: 200px;
	border:solid 2px #b7ddf2;
	background:#ebf4fb;
	color:#fff;
	padding:20px;

}

/* Table (breakfast,lunch,etc) Coloring Below */
.paginate {
	font-family: Arial, Helvetica, sans-serif;
	font-size: .7em;
}

a.paginate {
	border: 1px solid #000080;
	padding: 2px 6px 2px 6px;
	text-decoration: none;
	color: #000080;
}


a.paginate:hover {
	background-color: #000080;
	color: #FFF;
	text-decoration: underline;
}

a.current {
	border: 1px solid #000080;
	font: bold .7em Arial,Helvetica,sans-serif;
	padding: 2px 6px 2px 6px;
	cursor: default;
	background:#000080;
	color: #FFF;
	text-decoration: none;
}

span.inactive {
	border: 1px solid #999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: .7em;
	padding: 2px 6px 2px 6px;
	color: #999;
	cursor: default;
}

table {
	margin: 8px;
}

th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: .7em;
	background: #666;
	color: #FFF;
	padding: 2px 6px;
	border-collapse: separate;
	border: 1px solid #000;
}

td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: .7em;
	border: 1px solid #DDD;
}

/* End of Table Coloring */

.quickAdd {

}

.exercise {
	clear:both;
	border:solid 2px #b7ddf2;
	background:#ebf4fb;
}

#fitness {
}
#fitness  p{
color:#666666;
margin:0 auto;
padding-bottom:5px;
}
#fitness label{
display:block;
font-weight:bold;
text-align:right;
width:140px;
float:left;
}

#fitness input{
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:200px;
margin:2px 0 20px 10px;
}
#fitness  input[type="submit"]{
clear:both;
margin-left:150px;
width:205px;
height:31px;
background:#666666;3
text-align:center;
line-height:31px;
color:#FFFFFF;
font-size:12px;
font-weight:bold;
}
#fitness  input[type="submit"]:hover{
	color:#5CAFD2;
	background:#222;
}

