body {
	margin:0;
	padding:0;
}


a:link{color:#333;}
a:visited{color:#333;}
a:hover{color:red;}
a:active{color:#000;}

#wrapper {
	width:960px;
	margin:10px 10px;
	
}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 10px 0;
}


li {
	float:left;
}

#results {
	clear:both;
	display:block;
	margin:15px 0;
	height:345px;
	overflow-y:hidden;
	/*text-transform:lowercase;*/
	width:500px;
}

#form {
	width:700px;
	display:block;
	margin:0 auto;
}

input[type="text"] {
	margin-top:5px;
	display:block;
}

#table {
	margin:0 auto;
	width:700px;
}

p.table {
	width:100px;
	margin:5px auto;
}